/* Style the footer container */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333; /* Change the background color */
  color: white; /* Change the text color */
  padding: 1px; /* Add spacing around the content */
  display: flex; /* Use flexbox to align items horizontally */
  justify-content: center; /* Space items evenly */
  align-items: center; /* Center items vertically */
}

/* Style the links */
.footer a {
  color: #eb0808; /* Change the link color */
  text-decoration: none; /* Remove underlines from links */
  margin:0 30px;
}

/* Style the links on hover */
.footer a:hover {
  text-decoration: underline; /* Add underline on hover */
}


  



